<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="HDUltrasoft 4.1" value="https://tfs.hdstation.net/tfs/HDUltrasoft/_packaging/HDStation41/nuget/v3/index.json" />
	<add key="HDUltrasoft.Dev" value="https://tfs.hdstation.net/tfs/HDUltrasoft/_packaging/HDUltrasoft.Dev/nuget/v3/index.json" />
	<add key="Telerik" value="https://tfs.hdstation.net/tfs/HDUltrasoft/_packaging/Telerik.Trial.2017.3.1026/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
