@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/workflow/workflow.form-control.css" />
<body>
    @RenderBody()
</body>
@section Scripts {
    @RenderSection("scripts", required: false)
    }